**/bin/
**/obj/
**/data/
!src/CallForMe.Api/ClientApp/src/data/
!src/CallForMe.Api/ClientApp/src/data/**
**/node_modules/
.vs/
publish/
deploy-*.tar.gz
*.log
*.tmp
*.user
.env
appsettings.Local.json
/artifacts/call-for-me-api-linux-x64
